:root {
    --dark-purple: #01031A;
    --purple: #6366F1;
    --pink-pastel: #FFEDFF;
    --pink-opaque: #FFB4FF26;
    --white: #FFFFFF;
    --pink-to-dark: linear-gradient(180deg, rgba(151, 71, 255, 0.10) 0%, rgba(255, 180, 255, 0.00) 50%, rgba(5, 4, 5, 0.00) 56.89%, rgba(5, 4, 5, 0.30) 100%);
    /* Couleurs principales */
    --text-color: white;
    --accent-color: #311c25;
    /* Dégradés */
    --white-gradient-sm: rgba(250, 250, 250, 0.1);
    --white-gradient-md: rgba(250, 250, 250, 0.15);
    --white-gradient-lg: rgba(250, 250, 250, 0.2);
    --linear-gradient-normal: linear-gradient(45deg, #453a83, #7c1a37);
    --linear-gradient-alternate: linear-gradient(-45deg, #453a83, #7c1a37);
    /* Styles du texte */
    --font-base: "Nunito", sans-serif;
    --font-size-base: .9rem;
    --letter-spacing-smooth: 0.3px;
    --line-height-smooth: 1.2;
    /* Styles du formulaire */
    --input-bg-color: rgb(155 141 145 / 50%);
    --input-border-color: rgba(250, 250, 250, 0.25);
    --input-focus-border-color: rgba(250, 250, 250, 0.7);
    /* Arrondis */
    --border-radius-sm: 0.75rem;
    --border-radius-xl: 10rem;
}

* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
    scroll-behavior: smooth !important;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    background-color: var(--dark-purple);
    scroll-behavior: smooth !important;
}



